.ct{
    margin: -45px 0 10px 0px;
    /* background-color: red; */
}
code {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #660000;
    font-style: normal
 }
pre {  color: #660000; font-family: Verdana, Arial, Helvetica, sans-serif
}